#window {
  font-family: Sarasa Mono J;
  font-size: 14pt;
  background-color: @background;
  border: 2px solid @blue;
}

#input {
  margin: 3px;
  border: none;
  border-radius: 0;
  color: @light;
  background-color: transparent;
}

#scroll {
  margin-bottom: 2px;
}

#img {
  margin-right: 3px;
  margin-left: 3px;
  background-color: transparent;
}

#text {
  color: @light;
  margin: 3px;
}

#text:selected {
  color: @dark;
}

#entry:selected {
  background: @blue;
}

/* Nord */
@define-color background rgba(46, 52, 64, 0.95);
@define-color light #eceff4;
@define-color dark #2e3440;
@define-color blue #81a1c1;

/* OneDark */
/* @define-color background rgba(40, 44, 52, 0.95);
@define-color light #bbc2cf;
@define-color dark #282c34;
@define-color blue #61afef; */
